#info-wrapper {
	padding: 0 50px !important;
}

.card {
	/*height: 300px;*/
	/*color: #000;*/
}

.fixed-add-btn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.card-title {
	color: #333;
}

.column-serial {
	font-size: 1em;
	text-transform: uppercase;
	position: absolute;
	border-radius: 50%;
	background: #eee;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
}

td {
	padding: 0 5px 5px !important;
}

td.footer-content {
	font-size: 1.1em;
}

i.fa-trash-o {
	font-size: 1.2em !important;
}